.bold-text {
    font-weight: 600;
}

.btn-default {
    width: 100%;
    margin-top: 10px;
}

#ddMemberOptions, #ddAdminOptions {
    margin-right: 5px;
}

#footer1 {
    background: #762b00;
}

#footer-text {
    color: #ffffff;
}

.text-justify {
    text-align: justify;
}
