.bold-text {
    font-weight: 600;
}

.btn-default {
    width: 100%;
    margin-top: 10px;
}

#ddMemberOptions, #ddAdminOptions {
    margin-right: 5px;
}

#footer1 {
    background: #762b00;
}

#footer-text {
    color: #ffffff;
}

.img-fluid.imgBook {
    max-width: 100px !important;
}

.pBookDetails {
    font-size: small;
    margin: 0;

    text-align: left;
}

#priceSignBooksInventory {
    font-weight: bold !important;
    margin-right: -3px !important;
}

#priceSignViewBooks {
    font-weight: bold !important;
    margin-right: -4px !important;
}

.text-justify {
    text-align: justify;
}
